<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administration</title>
</head>
<body>
    <form action="/admin" method="POST">
        <input name="user" type="text" placeholder="User"><br>
        <input name="setadmin" value="set user as admin" type="submit"><br>
        <input name="unsetadmin" value="unset user as admin" type="submit"><br>
        <input name="deluser" value="delete user" type="submit"><br>
    </form>
</body>
</html>