<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>
</head>
<body>
    <div class="login-box">
        <h2>Register</h2>
        <form action="/register" method="post">
          <div class="user-box">
            <input type="text" name="name" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="password" required="">
            <label>Password</label>
          </div>
          <button type="submit">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              Submit
          </button>
        </form>
      </div>
</body>
</html>